In [6]:
import pandas as pd
from pathlib import Path

In [2]:
df = pd.read_csv("data/lidar_positions_bak.csv")

In [3]:
df

       city_id  position_id     xr     yr
0           90            0  123.0   70.0
1           90            1  106.0  101.0
2           90            2  100.0  109.0
3           90            3  110.0   93.0
4           90            4  108.0  138.0
...        ...          ...    ...    ...
14995       89           95   50.0   53.0
14996       89           96   62.0   15.0
14997       89           97   94.0   48.0
14998       89           98   84.0   53.0
14999       89           99   69.0   20.0

[15000 rows x 4 columns]

In [8]:
data_path = Path("data", "drone_positions")

In [20]:
missing = []
for fname in data_path.iterdir():
    # city_3.csv
    city = fname.stem.split("_")[-1]

    if int(city) not in df["city_id"].unique():
        missing.append(int(city))

In [23]:
len(missing)

150